<h3>Delete Yarn Item From Inventory</h3>

<form action= "/delete_yarn">
  <p><h4>Choose an item to delete:</h4><select name="id"></p>
  <% Yarn.all.each do |item| %>
      <option value="<%= item.id %>"> <%= item.brand %> - <%= item.name %>, Colorway: <%= item.color %>, Fiber: <%= item.fiber %>, Price: $<%= item.price %>, Quantity: <%= item.skeins %> skeins</option>
      <% end %>
    </select>
  <p> <input type="submit" value="delete yarn"></p>
</form> 
  
<p><a href = "/home">Return To Main Menu</a><p>
  
  