<h3>Edit Inventory Item</h3>

Choose product to edit.
   
<form action="/edit_save">
  <p> Choose a product to edit : <select name="id"></p>
    <% Yarn.all.each do |item| %>
    <option value="<%= item.id %>"> <%= item.brand %> - <%= item.name %>: <%= item.color %> </option>
    <% end %>
  </select>
  
  <p>Enter new item info. If field does not need to be updated, leave blank.</p>
  
  <p>New Brand: <input type="text" placeholder="Brand" name="brand"></p>
  <p>New Yarn Name: <input type="text" placeholder="Name" name="brand"></p>
  <p>New Unit Price: $<input type="number" min="0.01" step="0.01" name= "price" placeholder="Price">
  <p>Change Weight Category: <select name="weight_id"></p>
    <option></option>
    <% Weight.all.each do |weight| %>
    <option value="<%= weight.id %>"> <%= weight.weight %> </option>
    <% end %>
  </select>
      
  <br>
  <p>Number of Skeins in Stock: <input type="number" placeholder="Quantity" name="skeins"></p>
     
  <p>Update Item Location: <select name="store_location_id"></p>
    <option></option>
    <% StoreLocation.all.each do |store_location| %>
    <option value="<%= store_location.id %>"> <%= store_location.store_location %> </option>
    <% end %>
  </select>
      
  <p> <input type="submit" value="edit yarn"></p>
</form>
